rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    
    function isAdmin() {
      return request.auth != null && request.auth.uid == '7KRsQ64BAWeLIQWdRpsfHri1LbD2';
    }

    match /reportes/{reporteId}/{fileName} {
      // Lectura pública de fotos de mascotas para el explorador
      allow read: if true;

      // Subida inicial de foto (el archivo NO debe existir previamente en Storage)
      allow create: if request.auth != null
                    && resource == null
                    && request.resource.size < 500 * 1024
                    && request.resource.contentType.matches('image/(jpeg|jpg|png|webp)');

      // Sobrescritura permitida al creador original o al administrador
      allow update: if request.auth != null
                    && resource != null
                    && request.resource.size < 500 * 1024
                    && request.resource.contentType.matches('image/(jpeg|jpg|png|webp)')
                    && (isAdmin() || (
                      firestore.exists(/databases/(default)/documents/reportes/$(reporteId)) &&
                      firestore.get(/databases/(default)/documents/reportes/$(reporteId)).data.creadorUid == request.auth.uid
                    ));

      // Eliminación permitida al creador original del reporte o al administrador
      allow delete: if request.auth != null
                    && resource != null
                    && (isAdmin() || (
                      firestore.exists(/databases/(default)/documents/reportes/$(reporteId)) &&
                      firestore.get(/databases/(default)/documents/reportes/$(reporteId)).data.creadorUid == request.auth.uid
                    ));
    }
  }
}